{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Stock</th>
          <th scope="col">Number of shares</th>
          <th scope="col">Current price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>

            {% for stock in tableInfo %}

            <tr>
                <td>{{ stock.Name }}</td>
                <td>{{ stock.Shares }}</td>
                <td>{{ stock.Price }}</td>
                <td>{{ stock.Total }}</td>
            </tr>

            {% endfor %}

      </tbody>
    </table>


    <table class="table">
        <thead>
            <tr>
                <th scope ="col">Cash remaining</th>
                <th scope ="col">Grand total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ currentCash }}</td>
                <td> {{ grandTotal }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}



{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<header class="alert alert-primary border text-center" role="alert">
  {{ message }}
</header>
{% endif %}
{% endwith %}

{% block main %}

<table class="table table-striped">
  <thead>
    <th>Symbol</th>
    <th>Name</th>
    <th>Shares</th>
    <th>Price</th>
    <th>Total</th>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{stock.Symbol}}</td>
      <td>{{stock.Name}}</td>
      <td>{{stock.Shares}}</td>
      <td>{{stock.Price | usd}}</td>
      <td>{{stock.Total | usd}}</td>
    </tr>
    {% endfor %}
  <tfoot>
    <tr>
    <td colspan="4">CASH</td>
    <td>{{cash | usd}}</td>
    </tr>
    <td colspan="4"></td>
    <td>{{total_cash | usd}}</td>
  </tfoot>
  </tbody>
</table>
{% endblock %}
    
export API_KEY=pk_44ba976cb6ba4d4ca6a75d0e6b652f54
flask run